body {
    font-family: sans-serif;
    margin: 0;
    background-color: #ffe0f2; /* Color rosa claro */
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.galeria-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    padding: 20px;
    background-color: #f8bbd0; /* Un tono de rosa un poco más oscuro para el contenedor */
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.imagen-contenedor {
    overflow: hidden;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
}

.imagen-contenedor:hover {
    transform: scale(1.05);
}

.imagen-contenedor img {
    width: 100%;
    height: auto;
    display: block;
}